
<div class="py-20" style="background: linear-gradient(90deg, #667eea 0%, #764ba2 100%)">
  <div class="container px-6 mx-auto">
    <h2 class="mb-2 text-4xl font-bold text-white">
      PCPartBuilder
    </h2>
    <h3 class="mb-8 text-2xl text-gray-200">
      Helping you help yourself.
    </h3>
  </div>
</div>
<!-- Features -->
<section class="container p-10 px-6 mx-auto">
  <h2 class="mb-8 text-4xl font-bold text-center text-gray-800">
    Features
  </h2>

</section>
